body {
  padding: 0;
  margin: 0;
}

body div.top-header {
  padding: 5px 0;
  background: #00aaa1;
}

body div.top-header .top-header-content {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body div.top-header .top-header-content .onsitego-logo img {
  width: 154px;
}

.emergency-block {
  height: 55px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background: rgba(255,210,210,.43);
  vertical-align: top;
  background-position: center;
  color: red;
}

.emergency-block marquee {
  position: relative;
  padding-top: 19px;
  display: block;
}
body {
  font-family: Lato,sans-serif;
}

body #contents .selfserve-header {
  text-align: center;
}

body #contents .selfserve-header h1 {
  font-weight: 300;
  font-family: Lato,sans-serif;
}

body #contents .selfserve-contents {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

body #contents .selfserve-contents .ss-sub-heading {
  margin-bottom: 30px;
}

body #contents .selfserve-contents .ss-sub-heading .ss-sub-heading-title {
  color: #00aaa1;
  font-weight: 600;
}

body #contents .selfserve-contents .content-layout {
  width: 100%;
}

body #contents .selfserve-contents .content-layout .ss-row {
  clear: both;
}

body #contents .selfserve-contents .content-layout .ss-row .ss-inline {
  padding: 10px;
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

body #contents .selfserve-contents .content-layout .ss-row .ss-border-right {
  border-right: 1px solid #ddd;
}

body #contents .selfserve-contents .content-layout .ss-search-filter {
  margin-top: 10px;
  border: 1px solid #ddd;
}

body #contents .selfserve-contents .content-layout .ss-search-filter .ss-inline.ss-select-imei {
  width: 25%;
}

body #contents .selfserve-contents .content-layout .ss-search-filter .ss-inline.ss-select-imei input {
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #ddd;
  width: 80%;
}

body #contents .selfserve-contents .content-layout .ss-search-filter .ss-submit {
  width: 10%;
  float: right;
}

body #contents .selfserve-contents .content-layout .ss-search-filter .ss-submit button {
  background: #00aaa1;
  color: #fff;
  padding: 15px 25px;
  border: none;
}

body #contents .selfserve-contents .content-layout .ss-row-link .ss-dont-know-imei {
  margin-left: 60%;
  padding-left: 16px;
}

body #contents .selfserve-contents .content-layout .ss-row-link .ss-dont-know-imei span {
  text-decoration: underline;
  cursor: pointer;
}

body #contents .selfserve-contents .content-layout .ss-problems {
  margin-top: 10px;
  width: 80%;
  float: left;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown {
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  width: 100%;
  display: inline-block;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select {
  width: 100%;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select .dropdown-menu,
body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select button {
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: #fff;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select .dropdown-menu span.glyphicon,
body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select button span.glyphicon {
  float: right;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select .dropdown-menu.open {
  position: relative;
  padding: 0;
  margin: 0;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select .dropdown-menu.open button {
  border-bottom: none;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select .dropdown-menu.open ul {
  height: auto;
  border: none;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select .dropdown-menu.open ul li {
  height: 45px;
  border-bottom: 1px solid #ddd;
  display: table;
  width: 100%;
  vertical-align: middle;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select .dropdown-menu.open ul li a {
  display: table-cell;
  vertical-align: middle;
  height: 45px;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select .dropdown-toggle.btn-default:focus,
body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select .dropdown-toggle.btn-default:hover,
body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select.open .dropdown-toggle.btn-default:focus,
body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select.open .dropdown-toggle.btn-default:hover {
  border: 1px solid #ddd;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0!important;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select.open button,
body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select.open button:focus,
body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select.open button:hover {
  border-bottom: none!important;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select button span.bs-caret .caret {
  width: 30px;
  height: 30px;
  border: none;
  font-size: 35px;
  font-weight: 100;
  font-style: normal;
  top: 0;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select button span.bs-caret .caret::before {
  content: "\002b";
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown .bootstrap-select.open button span.bs-caret .caret::before {
  content: "\2212";
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown.no-sub-problem button span.bs-caret .caret::before {
  content: " "!important;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-multi-dropdown.selected .bootstrap-select button {
  background: rgba(128,128,128,.15);
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-problem-left {
  width: 45%;
  float: left;
}

body #contents .selfserve-contents .content-layout .ss-problems div.ss-problem-right {
  width: 45%;
  float: right;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-sub-form {
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(128,128,128,.15);
  padding: 10px 30px;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-sub-form .ss-cust-fill-row {
  padding: 7px 10px;
  clear: both;
  width: 100%;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-sub-form .ss-cust-fill-row input.ss-fill-full {
  width: 100%;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-sub-form .ss-cust-fill-row input.ss-cust-fill-row-group-1 {
  width: 32%;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-sub-form .ss-cust-fill-row input.ss-cust-fill-row-group-1.ss-cust-fill-city {
  margin-left: 1%;
  margin-right: 1%;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-sub-form .ss-cust-fill-row input.ss-cust-fill-row-group-1.ss-cust-fill-pincode {
  float: right;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-sub-form .ss-cust-fill-row input.ss-cust-fill-row-group-2 {
  width: 40%;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-sub-form .ss-cust-fill-row div.ss-cust-fill-row-group-2.ss-cust-fill-app-timeslot,
body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-sub-form .ss-cust-fill-row div.ss-cust-fill-row-group-2.ss-cust-fill-app-timeslot-1 {
  float: right;
  width: 40%;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-sub-form .ss-cust-fill-row input {
  padding: 5px 10px;
  display: inline-block;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-sub-form .ss-cust-fill-row .ss-cust-fill-city,
body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-sub-form .ss-cust-fill-row .ss-cust-fill-state {
  width: 33%;
  display: inline-block;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-cust-info {
  width: 65%;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-appointment-info {
  width: 45%;
  display: table;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-appointment-info .ss-cust-fill-row {
  display: table-cell;
  padding-left: 20px;
  padding-right: 20px;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-appointment-info-1 {
  width: 45%;
  display: table;
}

body #contents .selfserve-contents .content-layout .ss-customer-filling-form .ss-appointment-info-1 .ss-cust-fill-row {
  display: table-cell;
  padding-left: 20px;
  padding-right: 20px;
}

body #contents .selfserve-contents .content-layout .ss-plan-selection ul.nav-tabs {
  border: none;
}

body #contents .selfserve-contents .content-layout .ss-plan-selection .ss-plan-content {
  border: 1px solid #ddd;
  float: left;
  width: 100%;
}

body #contents .selfserve-contents .content-layout .ss-plan-selection .ss-plan-content .ss-plan-content-list {
  float: left;
  width: 80%;
}

body #contents .selfserve-contents .content-layout .ss-plan-selection .ss-plan-content .ss-plan-content-list .ss-plan-row {
  width: 100%;
  padding: 12px 20px;
}

body #contents .selfserve-contents .content-layout .ss-plan-selection .ss-plan-content .ss-plan-content-list .ss-plan-row .ss-plan-con {
  display: inline-block;
}

body #contents .selfserve-contents .content-layout .ss-plan-selection .ss-plan-content .ss-plan-content-list .ss-plan-row .ss-plan-con-right {
  float: right;
  width: 30%;
}

body #contents .selfserve-contents .content-layout .ss-plan-selection .ss-plan-content .ss-plan-content-action {
  float: right;
  width: 20%;
  height: 150px;
  border-left: 1px solid #ddd;
  display: table;
}

body #contents .selfserve-contents .content-layout .ss-plan-selection .ss-plan-content .ss-plan-content-action .ss-plan-action {
  display: table-cell;
  vertical-align: middle;
}

body #contents .selfserve-contents .content-layout .ss-plan-selection .ss-plan-content .ss-plan-content-action .ss-plan-action .ss-plan-btn-select {
  margin: 0 auto;
  display: block;
  padding: 10px 30px;
  background: #fff;
  border: 1px solid #ddd;
  outline: 0;
}

body #contents .selfserve-contents .content-layout .ss-plan-selection .ss-plan-content .ss-plan-content-action .ss-plan-action .ss-plan-btn-select:hover {
  background: #00aaa1;
  color: #fff;
}

body #contents .selfserve-contents .content-layout .ss-plan-lists .ss-plan-lists-left {
  float: left;
  width: 45%;
}

body #contents .selfserve-contents .content-layout .ss-plan-lists .ss-plan-lists-left .ss-confirmation-layout {
  background: rgba(128,128,128,.15);
  margin-bottom: 20px;
}

body #contents .selfserve-contents .content-layout .ss-plan-lists .ss-plan-lists-right {
  float: right;
  width: 45%;
  background: rgba(128,128,128,.15);
}

body #contents .selfserve-contents .content-layout .ss-plan-lists .ss-plan-lists-right .ss-confirmation-layout .ss-confirmation-group.ss-confirmation-device-issue ul {
  padding-left: 0;
}

body #contents .selfserve-contents .content-layout .ss-plan-lists .ss-plan-lists-right .ss-confirmation-layout .ss-confirmation-group.ss-confirmation-device-issue ul li {
  list-style: none;
  padding-left: 0;
}

body #contents .selfserve-contents .content-layout .ss-plan-lists .ss-confirmation-layout {
  padding: 10px 20px;
}

body #contents .selfserve-contents .content-layout .ss-plan-lists .ss-confirmation-layout .ss-confirmation-title .ss-round {
  width: 15px;
  height: 15px;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: absolute;
  margin-left: -28px;
  margin-top: 2px;
}

body #contents .selfserve-contents .content-layout .ss-plan-lists .ss-confirmation-layout .ss-confirmation-title span {
  color: #969696;
}

body #contents .selfserve-contents .content-layout .ss-plan-lists .ss-confirmation-layout .ss-confirmation-content {
  margin-top: 5px;
}

body #contents .selfserve-contents .content-layout .ss-plan-lists .ss-confirmation-layout .ss-confirmation-content ul {
  padding-left: 16px;
}

body #contents .selfserve-contents .content-layout .ss-plan-lists .ss-confirmation-layout .ss-confirmation-content ul li {
  padding: 1px 7px;
}

body #contents .selfserve-contents .content-layout .ss-plan-lists .ss-confirmation-layout .ss-confirmation-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

body #contents .selfserve-contents .content-layout .ss-next-previous {
  margin-top: 60px;
  float: left;
  width: 100%;
}

body #contents .selfserve-contents .content-layout .ss-next-previous button {
  padding: 10px 15px;
  border: none;
}

body #contents .selfserve-contents .content-layout .ss-next-previous button.previous {
  border: 1px solid #ddd;
  background: #fff;
  color: #000;
  float: left;
}

body #contents .selfserve-contents .content-layout .ss-next-previous button.next {
  background: #00aaa1;
  color: #fff;
  float: right;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline {
  display: inline-block;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-wi-otp .otp-hide,
body div.loader {
  display: none;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-select-phone {
  width: 20%;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-select-phone div input {
  width: 100%;
  padding: 5px;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-select-email {
  width: 20%;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-select-email div input {
  width: 100%;
  padding: 5px;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-select-channel {
  width: 20%;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-select-channel div input {
  width: 100%;
  padding: 5px;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-select-order {
  width: 20%;
  margin-left: 13px;
  padding-top: 10px;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-select-order div input {
  width: 100%;
  padding: 5px;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-wi-or {
  width: 10%;
  text-align: center;
  color: #969696;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-wi-otp {
  width: 60%;
  vertical-align: top;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-wi-otp .ss-otp-response {
  width: 33%;
  background: #ffe2f9;
  padding: 10px;
  margin-top: 8px;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-wi-otp .otp-show {
  padding-top: 6px;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-wi-otp .otp-show button {
  width: 33%;
  padding: 8px;
  background: #00aaa1;
  outline: 0;
  color: #fff;
  border: none;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-wi-otp .ss-verify-otp-text .ss-verify-otp {
  width: 33%;
  padding-top: 6px;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-wi-otp .ss-verify-otp-text .ss-verify-otp-1 .ss-verify-left {
  text-align: left;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-wi-otp .ss-verify-otp-text .ss-verify-otp-1 .ss-verify-right {
  text-align: right;
  float: right;
  text-decoration: underline;
  cursor: pointer;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-wi-otp .ss-verify-otp-text .ss-verify-otp-2 input {
  width: 100%;
  padding: 5px;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-wi-otp .ss-verify-otp-text .ss-verify-otp-3 button {
  width: 100%;
  padding: 8px;
  background: #00aaa1;
  outline: 0;
  color: #fff;
  border: none;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-wi-submit {
  width: 15%;
}

body #contents .selfserve-contents .content-layout .ss-search-wi-filter .ss-wi-inline.ss-wi-submit button {
  background: #00aaa1;
  color: #fff;
  border: none;
  outline: 0;
  padding: 8px 30px;
}

body #contents .selfserve-footer {
  width: 100%;
  height: 100px;
  float: left;
}

body .daterangepicker td.disabled {
  pointer-events: none;
  color: #d8c7c7;
}

body .daterangepicker td.available {
  color: #00aaa1;
  cursor: pointer;
  font-weight: 700;
}

body div.loader img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 104px;
}

body.loader-show {
  pointer-events: none;
  opacity: .2;
}

body.loader-show div.loader {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}